@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--header-h: 6rem;
		--scrollbar-track-color: theme("colors.background");
		--scrollbar-thumb-color: theme("colors.on.background");
		scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
	}

	header {
		@apply h-[--header-h];
	}

	html,
	body {
		@apply min-w-[1000px];
	}

	body {
		@apply bg-background text-on-background;
	}
}
